{{#each about-us}}
    <div id="about-us">
        <section class="container present about-us">
            <article class="about-us__main">
                <h1 class="main-header" id="about-us__header">{{title}}</h1>
                <div class="about-us__flex">
                    {{#each definitions}}
                        <p class="about-us__paragraf {{#if @first}}main{{/if}}"><dfn
                                class="about-us__definition">{{../title}}</dfn>{{definition}}
                        </p>
                    {{/each}}
                </div>
            </article>
            <div class="about-us__story-flex">
                {{#each story}}
                    <article class="about-us__story">
                        <h2 class="main-header about-us__story-header">{{story-title}}</h2>
                        <p class="about-us__story-text">{{story-text}}</p>
                        <p class="about-us__story-text">{{story-subtext}}</p>
                    </article>
                {{/each}}
            </div>
            <div class="about-us__goods-flex">
                {{#each goods}}
                    <article class="about-us__goods">
                        <img src="{{image}}" alt="{{goods-title}}" class="about-us__goods-image">
                        <h2 class="main-header about-us__goods-header">{{goods-title}}</h2>
                        <ul class="about-us__goods-list">
                            {{#each goods-list}}
                                <li class="about-us__goods-listitem">{{text}}</li>
                            {{/each}}
                        </ul>

                    </article>
                {{/each}}
            </div>
            <div class="about-us__question">
                <dl class="about-us__question-list">
                    {{#each QandA}}
                        <dt class="about-us__question-item">{{q}}</dt>
                        <dd class="about-us__question-item-answer">{{a1}}
                            <a href="{{href1}}" {{data1}}={{data1text}} class="about-us__link">{{link1}}</a>
                            {{#if a2}}{{a2}}
                                <a href="{{href2}}" data-modal="0" class="about-us__link">{{link2}}</a>
                            {{/if}}
                        </dd>
                    {{/each}}
                </dl>
            </div>
            <div class="about-us__file-list">
                {{#each files}}
                    <a href="{{path}}" download="{{path}}" class="about-us__file-link">
                        {{name}}
                        <span class="about-us__file">{{size}}</span>
                    </a>
                {{/each}}
            </div>
        </section>
    </div>
{{/each}}