<div class="backdrop" data-close>
    <div class="authorization-modal backdrop__modal">
        <button class="close-button icon-btn"><span data-close class="material-icons">clear</span></button>
        <div class="modal">
            <div class="modal__tabs">
                <div class="modal__tab active"><a class="modal__tab-link" href="" data-form="0">{{login}}</a></div>
                <div class="modal__tab"><a class="modal__tab-link" href="" data-form="1">{{register}}</a></div>
            </div>
            <div class="modal__form-wrapper">
                {{#each form}}
                    <form action="authorization" class="modal__form {{#if @first}}active{{/if}}">
                        <h3 class="modal__header">{{message}}
                        </h3>
                        {{#if postMessage}}
                            <h4 class="modal__header--sub">{{postMessage}}</h4>
                        {{/if}}
                        <label for="modal-email-{{@index}}" class="modal__label">{{../mail-label}}</label>
                        <input type="email" name="email" class="modal__input" id="modal-email-{{@index}}"
                            placeholder="{{../loginPlaceholder}}">
                        <p class="modal__message email-error"></p>
                        <label for="modal-password-{{@index}}" class="modal__label">{{../password-label}}</label>
                        <input type="password" name="password" class="modal__input" id="modal-password-{{@index}}"
                            placeholder="{{../emailPlaceholder}}">
                        <p class="modal__message password-error"></p>
                        <button type="submit" class="modal__button">{{button}}</button>
                    </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>